body {
  background-color: #000000;
}

.logo {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

header .content {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

header .logo {
  flex: 1;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  padding-left: 16px;
  decoration: none;
}

nav a {
  color: #000000;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}
