body {
  background-color: #000000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

.logo {
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  top: 0;
}

header .content {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

header .logo {
  flex: 1;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  padding-left: 16px;
  decoration: none;
}

nav a {
  color: #000000;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}

.banner-section {
  width: 100%;
  background-color: Gainsboro;
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.banner {
  margin: 32px 24px 32px 24px;
  width: 60%;
}

.banner img {
  width: 100%;
}

.banner-adjacent {

}

.banner-adjacent a {
  display: block;
  width: 60%;
  background-color: DimGrey;
  color: white;
  padding: 8px 0px;
  text-align: center;
  font-size: 1.5rem;
}

.article-section {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: stretch;
}

.main-article {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  width: 60%;
}

.main-article img {
  width: 100%;
  /*Prevents images from stretching*/
 align-self: center;
}

.main-text-accompany h1 {
  margin: 32px 0 24px 0;
}

.side-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.side-panel-border {
  border-left: 1px solid Gainsboro;
}

.side-article {
  display: flex;
  padding: 16px;
}

.side-article img {
  width: 35%;
  margin-right: 16px;
  /*Prevents images from stretching*/
  align-self: center;
}

.side-text-accompany {
  width: 65%;
  /*Vertical align text within flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-text-accompany h1 {
  font-size: 1.5rem;
}

.side-text-accompany p {
  padding: 8px 0px;
}

.thesis-title {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.thesis-title h1 {
  padding: 32px 0 32px 0;
}
